.top-bar, .top-bar ul {
	background-color: $nav-background;
}

.top-bar {
	.menu-text {
		color: $nav-text-color;
		font-weight: normal;
	}

	.menu > .menu-text > a {
		display: inline;
		padding: 0;
	}

	.active-link {
		font-weight: bold;
	}
}

